@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    font-size: 0.7px;
}

span{
    font-size: 25rem !important;
}

body {
    background-color: #2f3437;
    color: #FFFEDF;
    font-family: 'Open Sans', sans-serif;
}

.center {
    text-shadow: 0rem 1rem 1rem #191919;
    cursor: default;
    width: 450rem;
    margin: auto;
    display: block;
    position: relative;
}

.title {
    padding-top: 10rem;
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-size: 45rem;
    padding-bottom: 15rem;
}

.settings {
    width: 350rem;
    padding-bottom: 15rem;
    display: table;
    margin: auto;
    position: relative;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.description {
    font-size: 15rem;
}

.value {
    font-size: 30rem;
}

.session {
    width: 108rem;
    float: right;
}

.session .description {
    color: #2ecc71 !important;
}

.break {
    width: 100rem;
    float: left;
}

.break .description {
    color: #e74c3c !important;
}


.control {
    font-size: 33rem;
    cursor: pointer;
}

.control:hover {
    color: #95a5a6;
}

.next-pomodoro {
    margin-left: 30rem;
    float: left;
    cursor: pointer;
    font-weight: bold;
}

.reset-pomodoro {
    margin-right: 30rem;
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.next-pomodoro span, .reset-pomodoro span{
    font-size: 15rem !important;
}

.pomodoro {
    cursor: pointer;
    width: 300rem;
    height: 300rem;
    margin: auto;
    clear: both;
    border-radius: 50%;
    border: 3rem #2ecc71 solid;
    position: relative;
    overflow: hidden;
    text-shadow: none;
}

.fill {
    width: 100%;
    height: 0%;
/ / border-radius: 50 %;
/ / border: 3 rem #2ecc71 solid;
    position: absolute;
    left: 0;
}

.fill.session {
    bottom: 0;
    z-index: 2;
    background-color: #2ecc71;
}

.fill.break {
    top: 0;
    z-index: 3;
    background-color: #c0392b;
}

.time-left {
    top: 32%;
    left: 50%;
    margin-left: -125rem;
    width: 250rem;
    text-align: center;
    font-size: 60rem;
    z-index: 4;
    position: absolute;
}

.status {
    bottom: 35%;
    left: 50%;
    margin-left: -125rem;
    width: 250rem;
    text-align: center;
    font-size: 15rem;
    z-index: 4;
    position: absolute;
}

.fullcicle, .completed {
    clear: both;
    width: 100%;
    padding-top: 20rem;
    font-size: 12rem;
    text-align: center;
}

.completed{
    padding-top: 10rem;
    padding-bottom: 25rem;
}

a {
    color: #2ecc71;
    text-decoration: none;
    font-weight: 600
}